<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYXHB_iVWOSClszFbHQ5uE_X80YzID7SQ</string>
	<key>GCM_SENDER_ID</key>
	<string>454731726278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gradproj2</string>
	<key>PROJECT_ID</key>
	<string>gradproject2-60c76</string>
	<key>STORAGE_BUCKET</key>
	<string>gradproject2-60c76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454731726278:ios:9bd5c4248a9fe58429c6c7</string>
</dict>
</plist>